In [32]:
import pandas as pd

In [33]:
file_name = "ETIT.csv"

In [34]:
data = pd.read_csv(file_name , index_col="Date")
inverse = [i for i in range(len(data)-1, 0 , -1)]
data = data.iloc[inverse]

In [35]:
data["Close"] = data["Dernier"].apply(lambda x : float(str(x).replace(",",".") ))
data["High"] = data[" Plus Haut"].apply(lambda x : float(str(x).replace(",",".") ))
data['Low'] = data["Plus Bas"].apply(lambda x : float(str(x).replace(",",".") ))
data["Open"] = data["Ouv."].apply(lambda x : float(str(x).replace(",",".") ))

In [36]:
data.head()

,Dernier,Ouv.,Plus Haut,Plus Bas,Vol.,Variation %,Close,High,Low,Open
Date,,,,,,,,,,
07/05/2014,"38,00","38,00","38,00","38,00","3,74M","2,70%",38.0,38.0,38.0,38.0
08/05/2014,"38,00","38,00","38,00","38,00","173,32K","0,00%",38.0,38.0,38.0,38.0
09/05/2014,"38,00","38,00","38,00","38,00","77,05K","0,00%",38.0,38.0,38.0,38.0
12/05/2014,"40,00","40,00","40,00","40,00","775,81K","5,26%",40.0,40.0,40.0,40.0
13/05/2014,"40,00","40,00","40,00","40,00","126,02K","0,00%",40.0,40.0,40.0,40.0

In [37]:
data.to_csv(file_name)